<p>Hey, you can download the csv for this page by clicking the link below:</p>
<p><%= link_to "csv", home_path("csv") %></p>
<p><%= link_to "Another", '/another.csv' %></p>
<p><%= link_to "User header", '/useheader.csv' %></p>
